<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Compartilhados" value="https://pkgs.dev.azure.com/DevTeamFivenBR/b4e6d20c-7c76-4e4b-8bf7-60dcbdf4c1ec/_packaging/Compartilhados/nuget/v3/index.json" />
    <add key="DevExpress" value="https://nuget.devexpress.com/tYACAlLTZxtnqgJrpzkqDTQTpbvZil9yXPdnDDdHzoFscJaC1C/api" />
    <add key="Nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>